html {
  height: 100%;
  width: 100%;
}
body{
font-family: 'Open Sans', sans-serif;
background-image:url('https://gamerwall.pro/uploads/posts/2022-03/1648114654_2-gamerwall-pro-p-fon-dlya-rabochego-stola-stim-krasivie-2.png') ;
   background-size: cover;
 background-attachment: fixed;
  color: white;
}
.nav:hover{
  cursor:pointer;
   background-color: #00d5ff;
  border: 5px solid black;
  text-transform: uppercase;
  width: 180px;
  transition: all 0.5s;
  font-size: 30px;
}
.nav{
  background-color: #001eff;
  width: 150px;
  padding: 20px;
  border: 4px solid black;
  border-radius: 20px;
  margin: 2px;
  color: white
}
ul{
  list-style: none;
  font-size: 25px;
  font-weight: 700;
}
a{
  color:white;
  text-decoration: none;
}